    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">PhotoBox </h1>
            </div>
        </div>

        <div class="row">
              {{#each pictures}}
                    {{#ifFourth @index}}
                    <div class="col-md-3 portfolio-item">
                        <a href="/img/photoBox/{{this}}" data-lightbox="photoBox">
                        <img class="img-responsive" src="/img/photoBox/{{this}}" alt="">
                        </a>
                    </div>
                    </div>
                    <div class="row">
                {{else}}
                    <div class="col-md-3 portfolio-item">
                        <a href="/img/photoBox/{{this}}" data-lightbox="photoBox">
                        <img class="img-responsive" src="/img/photoBox/{{this}}" alt="">
                        </a>
                    </div>
                {{/ifFourth}}
              {{/each}}
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Meine Mutti 1988</p>
                </div>
            </div>
        </footer>
    </div>